/ocean2city-backend/.vs/Ocean2City.Web/v15/Server/sqlite3/db.lock
/ocean2city-backend/.vs/Ocean2City.Web/v15/Server/sqlite3/storage.ide-shm
/ocean2city-backend/.vs/Ocean2City.Web/v15/Server/sqlite3/*.ide
/ocean2city-backend/.vs/Ocean2City.Web/v15/Server/sqlite3/storage.ide-wal
/ocean2city-backend/API/.vs/Ocean2City.Web/v15/Server/sqlite3/storage.ide
/ocean2city-backend/API/.vs/Ocean2City.Web/v15/Server/sqlite3/storage.ide-shm
/ocean2city-backend/API/.vs/Ocean2City.Web/v15/Server/sqlite3/storage.ide-wal
