<div class="container">
  <h1>Category Form</h1>
  <form (ngSubmit)="onSubmit(categoryForm)" #categoryForm="ngForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="categoryModel.name" required>
    </div>

    <div class="form-group">
      <label for="image">Upload Image</label>
      <input type="file" name="image" (change)="fileChange($event)" placeholder="Upload Image" accept=".jpg,.jpeg,.png">
    </div>

    <input type="checkbox" [checked]="categoryModel.isAvailable" (change)="categoryModel.isAvailable = !categoryModel.isAvailable" />

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>>
