<div class="container">
  <div *ngIf="personalDetail">
    <label>Personal Details</label>
    <!-- <p> {{ }},{{ }}</p>  -->
    <a (click)="changePersonalDetails()">CHANGE</a>
  </div>
  <div *ngIf="personalDetail && address">
      <label>Delivering Order To</label>
      <!-- <p> {{ }},{{ }}...</p> -->
      <a (click)="changeAddress()">CHANGE</a>
  </div>
  <div *ngIf="personalDetail && address">
      <label>Promo Code</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="promocode">
      <a (click)="applyPromoCode()">APPLY</a>
  </div>
  <!-- <div>
      // DATETIME
  </div> -->
  <li *ngFor="let item of cartItemList">

    <div class="form-group">
      <label for="name">{{item.itemName}}</label>
    </div>

    <!-- Default unchecked -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultUnchecked" name="Clean" [(ngModel)]="item.isCleaned" [value]="true" (change)="updateCartItem(item.itemId, 'clean')">
      <label class="custom-control-label" for="defaultUnchecked">With Chop</label>
    </div>

    <!-- Default checked -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultChecked" name="NotClean" [(ngModel)]="item.isCleaned" [value]="false" (change)="updateCartItem(item.itemId, 'withoutClean')">
      <label class="custom-control-label" for="defaultChecked">Without Chop</label>
    </div>

    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="quantity" (click)="updateCartItem(item.itemId, 'dec')"
          [disabled]="item.itemQuantity == 0">
          <span class="fa fa-minus"></span>
        </button>
      </span>
      <input readonly type="text" id="quantity" name="quantity" class="form-control input-number" [(ngModel)]="item.itemQuantity"
        value="10" min="200" max="5000">
      <span class="input-group-btn">
        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="quantity" (click)="updateCartItem(item.itemId, 'inc')">
          <span class="fa fa-plus"></span>
        </button>
      </span>
    </div>
  </li>

  <button *ngIf="!personalDetail" id="bttn" type="button" (click)="addPersonalDetails()" class="btn btn-primary blue-btn pull-right btn-gap">Add PersonalDetails</button>
  <button *ngIf="personalDetail && !address" id="bttn" type="button" (click)="addAddress()" class="btn btn-primary blue-btn pull-right btn-gap">Add Address</button>
  <button *ngIf="personalDetail && address" id="bttn" type="button" (click)="proceedOrder()" class="btn btn-primary blue-btn pull-right btn-gap">Proceed</button>
</div>
